.banner-holder{
    position: relative;
    .benner-img{
        width: 100%;
        height: 500px;
    }
    img{
        // object-fit: contain;
        width: 100%;
        height: 100%;
    }
    .banner-text{
        position: absolute;
        width: 400px;
        color: #fff;
        font-size: 40px;
        line-height: 70px;
        left: 100px;
        font-weight: 700;
        top: 20%;
        font-family: 'Poppins';
    }
}

.card_title{
    display: inline-block;
    position: relative;
    transform: translateY(0);
    transition: transform 0.5s ease-in;
}
.card_title_text{
    position: relative;
    background-color: aqua;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    font-weight: 600;
}
.card_holder{
    background-color: #000d20;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    position: relative;
    box-shadow: 0 2px 8px 0 rgb(99, 99, 99, 0.5);
    transition: 0.3s ease-in-out;
    ul{
        // display: none;
        position: absolute;
        opacity: 0;
        list-style: none;
        width: 70%;
        margin: 0;
        padding: 0;
        height: 0;
        z-index: -1;
        transform: translateY(-50px);
        transition: transform 0.6s ease-in-out; 
    }
    &:hover{
        transform: scale(1.1);
        justify-content: space-evenly;
        // display: block;
        .card_title {
            transform: translateY(-10px);
        }
        ul{
            transition: 0.6s ease-in-out;
            display: block;
            width: 70%;
            text-align:left;
            position: static;
            opacity: 1;
            height: auto;
            transform: translateY(0);
        }

    }
    .card_list{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .card_li{
            list-style: none;
            font-size: 18px;
            padding: 0 0 0 15px;
            position: relative;
            width: 100%;
            margin-bottom: 5px;
            text-transform: capitalize;
        }
        .card_li::before {
            content: "";
            position: absolute;
            border-top: 5px solid #e54e21;
            border-right: 5px solid transparent;
            border-left: 5px solid transparent;
            left: 0;
            top: 6px;
            transform: rotate(
        -90deg);
        }
    }
}
.content{
    font-size: 1rem;
    line-height: 1.867;
    color: #28395a;
    word-break: break-word;
    word-wrap: break-word;
    font-weight: 400;
}
.read-more-btn{
    border: 1px solid #d2d2d2;
    padding: 15px 30px;
    background-color: #1976d2;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    width: 170px;
    text-align: center;
}
.about-section{
    p{
        line-height: 1.5;
    }
}
.service-content-holder{
    padding: 30px;
    background-color: #1976d2;
    color: #fff;
    ul{
        list-style: none;
        padding: 0px;
        width: 50%;
        display: inline-block;
    }
    li{
        padding: 10px;
        cursor: pointer;
        transition: transform .2s;
    }
    li:hover{
        transform: scale(1.2);
    }
}