body{
    background-color: #f9f9f9;
    color: #000d20;
    font-family: 'Open Sans', sans-serif;
}

$font-size: 5 10 11 12 14 15 16 18 20 24 26 30 34 38;
@each $current-font in $font-size {
  .font-#{$current-font} {
    font-size: #{$current-font}px;
  }
}

$baseValue: 0.0625;
$paddings: 0, 5, 10, 15, 20;
@each $i in $paddings {
	$remValue: #{$baseValue * $i}rem;
	.pd-#{$i} {
		padding: $remValue;
	}
	.pdtb-#{$i} {
		padding-bottom: $remValue;
		padding-top: $remValue;
	}
	.pdlr-#{$i} {
		padding-left: $remValue;
		padding-right: $remValue;
	}
	.pdt-#{$i} {
		padding-top: $remValue;
	}
	.pdb-#{$i} {
		padding-bottom: $remValue;
	}
	.pdl-#{$i} {
		padding-left: $remValue;
	}
	.pdr-#{$i} {
		padding-right: $remValue;
	}
}
@for $i from 5 through 20 {
	$remValue: #{$baseValue * $i}rem;
	.mg-#{$i} {
		margin: $remValue;
	}
	.mgl-#{$i} {
		margin-left: $remValue;
	}
	.mgr-#{$i} {
		margin-right: $remValue;
	}
	.mgb-#{$i} {
		margin-bottom: $remValue;
	}
	.mgt-#{$i} {
		margin-top: $remValue;
	}
	.mgtb-#{$i} {
		margin-bottom: $remValue;
		margin-top: $remValue;
	}

	.mglr-#{$i} {
		margin-left: $remValue;
		margin-right: $remValue;
	}
}

.border-top{
    border-top: 1px solid #fff;
}
.border-bottom{
    border-bottom: 1px solid #fff;
}
.height-60{
    height: 60vh;
}
.banner-img-container{
    width: 100%;
    img{
        width: 100%;
    }
}

.text-white{
    color: #fff !important;;
}

.text-center{
    text-align: center !important;
}

.header-main{
    // background-color: #fff;
    min-height: 60px;
    padding: 0;
    transition: all 0.3s;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    background: #000d20;
    position: sticky;
    top: 0px;
    z-index: 1000;
    .container, .links-list{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;  
        align-items: center;  
    }
    .links-list{
        list-style: none;
        font-weight: 500;
    }
    .link a{
        padding: 35px 0 !important;
        margin-right: 40px !important;    
    }
}
.footer{
    .logo-footer {
        text-align: right;
        border-top: 2px solid #ededed;
        padding-top:30px;
    }
    padding: 46px 0 20px;
    text-align: left;
    background-color: #193250;
    border-top: 1px solid #ededed;
    .footer-container, .footer-rights{
        color: #fff;
    }
    .sub-link{
        list-style: none;
        font-weight: 500;
        padding: 0;
        li {
            color: f8f5ef;
            margin: 10px 0;
        }
    }
    .contact_us{
        width: 80%;
    }
}
.main-tags{
    font-weight: 700;
    font-size: 18px;
}
.footer-icon-text{
    display: flex;
    align-items: center;
    span{
        margin-left: 5px;
    }
}

.section-container{
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color: #f9f9f9;
}
.section-title{
    margin: 0;
}
.section-heading{
    margin-bottom: 80px;
}
